:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  padding: 10px;
  background: var(--primary-color);
 
}

.container {
  max-width: 640px;
  margin: auto;
  background: #fff;

}
img{
  width: 800px;
  height: 800px;
  font-size: 20px;
}